* {padding: 0;
   margin: 0;
   border: 0;}
a {text-decoration: none;
   color: #006699;}
a:visited {color: #003366;}
body {line-height: 1.8em;
      font-size: 62.5%;
      font-family: Palatino Linotype, Palatino, serif;
      background-color: #ffffff;}
h1, h2, h3 {font-weight: bold;
            font-variant: small-caps;}
h1 {font-size: 3.6em;
    margin-bottom: .5em;}
h2 {font-size: 2.4em;
    margin-bottom: .75em;}
h3 {font-size: 1.8em;
    margin-bottom: 1em;}
p, ul {font-size: 1.4em;
       margin: 1.286em 0;}
pre {font-family: Monaco, Courier New, monospace; font-size: 1.2em; margin-bottom: 1.5em;}
strong {color: #000000;}
ul {margin-left: 1em;}

/* Structural styles */
#container {width: 960px;
            margin-left: auto;
            margin-right: auto;
            color: #444444;}
#main {width: 623px;
       padding-right: 17px;}
#sidebar {width: 320px;
          float: right;}

/* Header styles */
#title {margin-top: 2.1em; text-align: center;}
#title h1 {margin-bottom: .1em;}
#title h2 {font-size: 1.8em; margin-bottom: .94375em;}
#ribbon {clear: both;
         text-align: center;
         font-size: 1.5em;
         font-family: Arial, Helvetica, sans-serif;
         margin-bottom: 1.2em;}
#ribbon a {display: inline-block;
           font-weight: bold;
           padding-left: .75em;}
.version {font-weight: bold;}
#compactheader {display: inline-block;}
#logosmall {margin-right: 1em; margin-top: .75em; margin-bottom: -.75em;}
#compactheader #title {margin-top: 1.8em; text-align: left;}
#compactheader #title h2 {font-size: 1.8em; margin-bottom: 0;}
#compactheader #ribbon a {padding-right: .75em; padding-left: 0;}

/* Content styles */
.newfeature {color: #cc0000;}

/* Footer styles */
#footer {clear: both;
         font-size: 1.2em;
         font-family: Arial, Helvetica, sans-serif;
         margin-bottom: 1.5em;
         border-top: 1px solid #666666;}
#logocredit {float: right;}

/* Carousel styles */
.yui-carousel-element li {height: 177px;}
#examples .yui-carousel-element li {width: 317px; border: 0;}
#examples ol li img {float: left; margin: .5em 1em .5em .5em;}
#examples p {text-align: left; margin-top: 1em; margin-right: .5em;}
#examples {margin-bottom: 1.8em;}

#books .yui-carousel-element li {width: 317px; border: 0;}
#books ol li img {float: right; margin: .5em .5em .5em 1em;}
#books p {text-align: left; margin-top: 1em; margin-left: .5em;}
#books {margin-bottom: 1.8em;}

/* Demo styles */
#applet {text-align: center;}

/* Blog feed styles */
.rssfeedicon {float: right; margin-right: 0;}
.feedburnerFeedBlock {width: 320px;}
.feedburnerFeedBlock ul {padding-left: 0;
                         margin-left: 0;
                         font-size: 1.4em;
                         list-style-type: none;}
.feedburnerFeedBlock li {margin-bottom: 1.286em;}
.feedburnerFeedBlock .date {font-size: 1em;
                            font-style: italic;
                            margin: 0 0 0 0;}
#creditfooter {display: none;}

.sotag {font-family: Arial, sans-serif;
        font-size: .786em;
        color: #3e6d8e;
        background-color: #e0eaf1;
        border-right: 1px solid #7f9fb6;
        border-bottom: 1px solid #3e6d8e;
        margin: 2px 2px 2px 0;
        padding: 3px 4px;}
a:visited.sotag {color: #3e6d8e;}