* {padding: 0;
   margin: 0;
   border: 0;}
a {text-decoration: none;
   color: #006699;}
a:visited {color: #003366;}
body {line-height: 1.8em;
      font-size: 62.5%;
      font-family: Palatino Linotype, Palatino, serif;
      background-color: #ffffff;}
h1, h2, h3 {font-weight: bold;
            font-variant: small-caps;}
h1 {font-size: 3em;
    margin-bottom: .6em;}
h2 {font-size: 2.4em;
    margin-bottom: .75em;}
h3 {font-size: 1.8em;
    margin-bottom: 1em;}
p, ul {font-size: 1.4em;
       margin: 1.286em 0;}
pre {font-family: Monaco, Courier New, monospace; font-size: 1.2em; margin-bottom: 1.5em;}
strong {color: #000000;}
ul {margin-left: 1em;}

/* Structural styles */
#container {width: 960px;
            margin-left: auto;
            margin-right: auto;
            color: #444444;}
#main {width: 623px;
       padding-right: 17px;}
#sidebar {width: 320px;
          float: right;}

/* Header styles */
#title {margin-top: 3.6em;}
#tagline {font-size: 1.5em;
          margin-top: -1.2em;
          margin-bottom: 1.2em;}
#ribbon {font-size: 1.5em;
         font-family: Arial, Helvetica, sans-serif;
         margin-bottom: 1.2em;
         border-top: 1px solid #666666;
         border-bottom: 1px solid #666666;}
#links {float: right;}
#links a {display: inline-block;
          font-weight: bold;
          padding: 0 .5em;}
.version {font-weight: bold;}

/* Footer styles */
#footer {clear: both;
         font-size: 1.2em;
         font-family: Arial, Helvetica, sans-serif;
         margin-bottom: 1.5em;
         text-align: right;
         border-top: 1px solid #666666;}

.yui-carousel-element li {height: 176px;}
#examples .yui-carousel-element li {width: 317px; border: 0;}
#examples ol li img {float: left; margin: .5em 1em .5em .5em;}
#examples p {text-align: left; margin-top: 1em; margin-right: .5em;}
#examples {margin-bottom: 1.8em;}

#books .yui-carousel-element li {width: 317px; border: 0;}
#books ol li img {float: right; margin: .5em .5em .5em 1em;}
#books p {text-align: left; margin-top: 1em; margin-left: .5em;}
#books {margin-bottom: 1.8em;}

#applet {text-align: center;}

.rssfeedicon {float: right; margin-right: 0;}
.feedburnerFeedBlock {width: 320px;}
.feedburnerFeedBlock ul {padding-left: 0;
                         margin-left: 0;
                         font-size: 1.4em;
                         list-style-type: none;}
.feedburnerFeedBlock li {margin-bottom: 1.286em;}
.feedburnerFeedBlock .date {font-size: 1em;
                            font-style: italic;
                            margin: 0 0 0 0;}
#creditfooter {display: none;}
